<div class="article-index-empty">
    <p>Why must I subject you, dear reader,<br/>
        To an absence of poetry?<br/>
        It may be that we can blame technology<br/>
        For the lacklustre website that you now face<br/>
        Or may be you can blame me<br/>
        For period of laziness.</p>
</div>
